<div>
<div >
  <p> Back to the login page: </p>
  {{#link-to "login"}}Login{{/link-to}}
</div> 

<div class="inputLoginGroup">
<h4> Please enter your information to create an account : </h4>
<br>
<br>
<form > 
  <label for="name" class="inputUserLabel">Name</label>

  {{input id='name' value=name}}
  <br>
  <br> 
  <label for="username" class="inputUserLabel">Email</label>

  {{input id='username' value=identification}}
  <br>
  <br>

  <label for="password" class="inputUserLabel">Password</label>

  {{input id='password' value=password  type="password"}}

  <br>
  <br>

  <label for="passwordConfirm" class="inputUserLabel">Confirm Password</label>
  
  {{input id='passwordConfirm' value=confirmpassword type="password"}}

  <br>
  <br>
  <button type="submit" {{action 'createUser'}} id="create-user-button">Create</button>
 </form>
 <br>
 <div id = "alert_placeholder"></div>

</div>

</div>