<div class ="container">
	<form {{action "submitNewPatient" on="submit"}}>
		<div class = "inputGroup">
			<h3>Please fill in the patient's current status</h3>

			<label class = "inputLabel" for ="patientName">Patient's Name</label>
			<div class = "inputBox">
			{{input id = "patientName" value=patientName required='true'}}
			</div>
			<br>

			<label class = "inputLabel" for ="patientSpecies">Patient's Species</label>
			<div class = "inputBox">
			{{input id = "patientSpecies" value=patientSpecies required='true'}}
			</div>
			<br>

			<label class = "inputLabel" for ="patientGender">Patient's Gender</label>
			<div class = "inputBox">
			{{input id = "patientGender" value=patientGender required='true'}}
			</div>
			<br>

			<label class = "inputLabel"  for ="patientStatus">Patient's Reproduction Status</label>
			<div class = "inputBox">
			{{input id = "patientStatus" value=patientStatus required='true'}}
			</div>
			<br>

			<label class = "inputLabel"  for ="patientAge">Patient's Age</label>
			<div class = "inputBox">
			{{input id = "patientAge" value=patientAge required='false'}}
			</div>
			<br>

			<label class = "inputLabel"  for ="patientColor">Patient's Color</label>
			<div class = "inputBox">
			{{input id = "patientColor" value=patientColor required='true'}}
			</div>
			<br>

			<label class = "inputLabel"  for ="patientTatoo">Patient's Tatoo ID</label>
			<div class = "inputBox">
			{{input id = "patientTatoo" value=patientTatoo required='false'}}
			</div>
			<br>

			<label class = "inputLabel"  for ="patientMicrochip">Patient's Microchip Number</label>
			<div class = "inputBox">
			{{input id = "patientMicrochip" value=patientMicrochip required='false'}}
			</div>
			<br>
			<br>
			<button type = "submit" id="create-patient-button">Create Patient</button>
			<button type = "reset" id="reset-patient-button">Reset Form</button>
		</div>
	</form>
</div>