<div class = "container">

	<form {{action "submitNewCient" on="submit"}}>
		<div class = "inputGroup">
			<h3>Please fill in the client's contact information</h3>

			<label class = "inputLabel" for = "clientFirstName">Client's First Name</label>
			<div class = "inputBox">
				{{input id='clientFirstName' value=clientFirstName required='true'}}
			</div>
			<br>
			<label class = "inputLabel" for = "clientLastName">Client's Last Name</label>
			<div class = "inputBox">
				{{input id='clientLastName' value=clientLastName required='true'}}
			</div>
			<br>
			<label class = "inputLabel" for = "clientAddress">Client's Address</label>
			<div class = "inputBox">
				{{textarea id='clientAddress' value=clientAddress required='true' cols="50" rows="4"}}
			</div>
			<br>
			<label class = "inputLabel" for = "clientPhone">Client's Phone Number</label>
			<div class = "inputBox">
				{{input id='clientPhone' value=clientPhone required='true'}}
			</div>
			<br>
			<label class = "inputLabel" for = "clientEmail">Client's Email</label>
			<div class = "inputBox">
				{{input id='clientEmail' value=clientEmail required='true'}}
			</div>
			<br>
			<label class = "inputLabel" for = "clientID">Client's ID</label>
			<div class = "inputBox">
				{{input id='clientID' value=clientID required='true'}}
			</div>
			<br>
			
		</div>
		<br>

		<div class = "inputGroup">
			<h3>Please fill in the client's documentation</h3>

			<label class = "inputLabel" for = "licoDocumentation">LICO</label>
			<div class = "inputBox">
				{{input id='clientLICO' value=clientLICO}}
			</div>
			<br>
			<label class = "inputLabel" for = "aishDocumentation">AISH</label>
			<div class = "inputBox">
				{{input id='clientAISH' value=clientAISH}}
			</div>
			<br>
			<label class = "inputLabel" for = "saDocumentation">SA</label>
			<div class = "inputBox">
				{{input id='clientSA' value=clientSA}}
			</div>
			<br>
			<label class = "inputLabel" for = "notesDocumentation">Notes</label>
			<div class = "inputBox">
				{{textarea id='clientNotes' value=clientNotes cols="80" rows="6"}}
			</div>
			<br>
		</div>
		<br>

		<div class = "inputGroup">
			<h3>Please fill in the alternative contact's contact information</h3>

			<label class = "inputLabel" for = "alternativeFirstName">Alternative Contact's First Name</label>
			<div class = "inputBox">
				{{input id='alternativeFirstName' value=alternativeFirstName required='true'}}
			</div>
			<br>
			<label class = "inputLabel" for = "alternativeLastName">Alternative Contact's Last Name</label>
			<div class = "inputBox">
				{{input id='alternativeLastName' value=alternativeLastName required='true'}}
			</div>
			<br>
			<label class = "inputLabel" for = "alternativeAddress">Alternative Contact's Address</label>
			<div class = "inputBox">
				{{textarea id='alternativeAddress' value=alternativeAddress required='true'  cols="50" rows="4"}}
			</div>
			<br>
			<label class = "inputLabel" for = "alternativePrimaryPhone">Alternative Contact's Primary Phone Number</label>
			<div class = "inputBox">
				{{input id='alternativePrimaryPhone' value=alternativePrimaryPhone}}
			</div>
			<br>
			<label class = "inputLabel" for = "alternativeSecondaryPhone">Alternative Contact's Secondary Phone Number</label>
			<div class = "inputBox">
				{{input id='alternativeSecondaryPhone' value=alternativeSecondaryPhone}}
			</div>
			<br>
			<label class = "inputLabel" for = "alternativeEmail">Alternative Contact's Email</label>
			<div class = "inputBox">
				{{input id='alternativeEmail' value=alternativeEmail required='true'}}
			</div>
			<br>
			
		</div>
		<br>
		<button type = "submit" id="create-client-button">Create Client</button>

	</form>
</div>
